[user]
    name = Shun Kakinoki
    email = shunkakinoki@gmail.com
	signingkey = 491B5B0991F7305B

[include]
    path = ~/.gitalias.txt
    
[alias]
    cme = commit -m "wip" --allow-empty
    bd = branch -d
[commit]
	gpgsign = true
[gpg]
	program = gpg
